Magic 271485
Revision Verdi3_L-2016.06-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 28 925 524 234 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/pluto/proj/lnrv/sim/run/rv32um-p-mulhu/lnrv_cpu_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 57730800.124734 57742335.335786
cursor 57737000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 6
; marker line index
markerPos 25

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/pluto/proj/lnrv/sim/run/rv32um-p-mulhu/lnrv_cpu_tb.fsdb"
addSignal -h 15 /lnrv_cpu_tb/u_lnrv_cpu/u_lnrv_core/u_lnrv_exu/u_lnrv_exu_mdv/op_vld
addSignal -h 15 -UNSIGNED -HEX -holdScope rs1_rdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rs2_rdata[31:0]
addSignal -h 15 -holdScope alu_op_vld
addSignal -h 15 -UNSIGNED -HEX -holdScope alu_in1[32:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope alu_in2[32:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope alu_res[34:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope part_prdt_hi_q[32:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope part_prdt_lo_q[32:0]
addSignal -h 15 -holdScope part_prdt_ext_q
addSignal -h 15 -UNSIGNED -HEX -holdScope cycle_q[3:0]
addSignal -h 15 -holdScope rs1_sign
addSignal -h 15 -holdScope rs2_sign
addSignal -h 15 -holdScope gpr_wen
addSignal -h 15 -UNSIGNED -HEX -holdScope gpr_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX /lnrv_cpu_tb/u_lnrv_cpu/u_lnrv_core/u_lnrv_exu/u_lnrv_exu_alu/adder_in1[34:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope adder_in2[34:0]
addSignal -h 15 -holdScope alu_in1_is_unsiged
addSignal -h 15 -holdScope alu_in2_is_unsiged
addSignal -h 15 -holdScope adder_in1_sign
addSignal -h 15 -holdScope adder_in2_sign
addSignal -h 15 -UNSIGNED -HEX -holdScope adder_res[34:0]
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /lnrv_cpu_tb/u_lnrv_cpu/u_lnrv_core/u_lnrv_exu/u_lnrv_exu_alu/adder_in1[34:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope adder_in2[34:0]
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

